body{
    background-color: aquamarine;
}

div.box1{
    background-color: beige;
    width: 600px;
    height: 150px;
}

div.box2{
    background-color: beige;
    width: 600px;
    height: 150px;
    position: absolute;
    right: 0px;
}